// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
    font-size: 1rem;
}

.alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.content {
    position: relative;
}
